*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    padding: 20px 10px;
    
}
.closeNav{
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 30px rgba(192, 59, 59, 0.37);
    border: 2px solid rgba(245, 245, 245, 0.18);
    border-radius: 50px;
    
}
.trucknav{
    padding-top: -10px;
    margin-left: 80px;
    border-radius: 10px; 
}
@keyframes move {
    50%{
        transform: rotate(360deg);
    }100%{
        transform: scale(1.2);
    }
}
ul{
    display: flex;
    list-style: none;
    float: right;
    margin-right: 80px;
}
li{
    padding: 10px;
    font-weight: bolder;
}
li a{
    text-decoration: none;
    color: rgb(228, 60, 60); 
    border: none;
    
}
li a:hover{
    color: rgb(173, 29, 10);
    border-top: 2px solid rgb(173, 29, 10);
    border-bottom: 2px solid rgb(173, 29, 10);
    cursor: pointer;
    animation: move 3s ease infinite;
}
@keyframes move {
    50%{
        transform: scale(1.2);
    }
}
ul li a{
    padding: 20px 16px;
    justify-content: space-between;
}
#buttn{
    display: none;
}
.long{
    position: relative;
    width: 100%;
    height: 250px;
}
.shipment{
    position: absolute;
    color: rgb(252, 249, 249);
    top: 25%;
    left: 6%;
    font-size: 40px;
}
.distro{
    height: 300px;
    position: relative;
}
.press{
    width: 60%;
    height: 50px;
}
.quality{
    margin-left: 80px;
    padding-top: 10px;
}
.invest{
    width: 90%;
    height: 220px;
    padding: 20px;
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.buldozer, .crane, .raiser, .robot, .open-truck{
    width: 15%;
    height: auto;
}
.prezzo{
    margin-left: 30px;
    margin: 20px;
    padding: 10px;
    height: 370px;
    
}
.grow-1, .grow-2, .grow-3, .grow-4{
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
    margin-top: -10px;
    width: 90%;
    margin-left: 50px;
}
.grow-1{
    margin-bottom: 20px;
}
.grow-2{
    margin-bottom: 20px;
}
.grow-3{
    margin-bottom: 20px;
}
.grow-4{
    
   max-width: 90%;
}

.operate{
    margin-left: 80px;
    font-size: 35px;
    color: rgb(136, 22, 22);
}
.will22{
    width: 100%;
}
.structure{
    margin: 40px;
    margin-left: 70px;
    padding: 20px;
    height: 400px;
}
.diverse-1, .diverse-2, .diverse-3, .grow-4{
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
    margin-top: -10px;
    width: 95%;
}
.diverse-1{
    margin-bottom: 20px;
}
.diverse-2{
    margin-bottom: 20px;
}
.diverse-3{
    margin-bottom: 20px;
}
.all-ton{
    margin-left: 50px;
    color: black;
    list-style-type: square;
}
.ton{
    font-size: 18px;
    text-align: left;
    line-height: 1.4;
    margin-top: -10px;
}
.vices{
    margin-left: 90px;
    font-size: 35px;
    color: rgb(136, 22, 22);
}
.cargo{
    display: flex;
    height: 280px;
    margin: 80px;
}
.transit{
    width: 40%;
    text-align: center;
}
.cargo-img, .transit-img{
    width: 40%;
    height: auto;
    margin-bottom: 10px;
}
.limit{
    margin-left: 120px;
    width: 40%;
    text-align: center;
}
.trans{
    margin-bottom: 10px;
    font-size: 22px;
    color: rgb(170, 31, 31);
}
.value-text1, .value-text2{
    margin-left: 10px;
    font-size: 18px;
    text-align: left;
    margin-top: -10px;
}
footer{
    width: 100%;
    height: 400px;
    border: none;
    background-color: rgb(240, 66, 66);
}
.row6{
    display: flex;
    justify-content: space-around;
    padding: 50px 5% 10px;
    width: 100%;
}
.col6{
    border: none;
    margin-bottom: 30px;
    flex-grow: 1;
    width: 30%;
}
.col6 a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px;
    text-align: left;
}
.col6 a:hover{
    color: black;
}
h5{
    font-size: 18px;
    padding: 10px;
    color: white;
}
#copyright{
    color: white;
    padding: 15px;
    text-align: center;
}
.logo{
    margin-left: 40px;
    padding: 20px;
}




@media (max-width: 900px) {
  .trucknav { 
    margin-left: 24px; 
    width: 180px; 
    height: auto; 
}
  ul { 
    margin-right: 24px; 
    gap: 8px; 
    flex-wrap: wrap; 
}
  .press, .invest, .prezzo, .structure { 
    width: 100%; 
    margin: 16px 0; 
    padding: 12px; 
}
  .cargo { 
    flex-direction: column; 
    gap: 16px; 
    margin: 24px; 
    height: auto; 
}
  .operate, .vices { 
    margin-left: 0; 
    text-align: left; 
    font-size: 28px; 
}
  footer .row6 { 
    flex-direction: column; 
    align-items: stretch; 
    padding: 32px 6%; 
}
  .col6 { 
    width: 100%; 
    margin-bottom: 18px; 
}
}

@media (max-width: 600px) {
    #buttn { 
    display: block; 
    position: absolute; 
    font-size: 15px;
    right: 6%; 
    top: 4%; 
    z-index: 1200;
    color: #000;
    padding: 5px;
    border: none;
    touch-action: manipulation;
    border-radius: 5px;
    &:hover{
        cursor: pointer;
        background: maroon;
        color: #fff;
    } 
}
nav ul { 
    display: none; 
}
nav ul.openNav {
    display: flex;
    position: fixed;
    inset: 0 0 auto 0;       
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    gap: 0;
    padding: 18px 24px; 
    background: rgba(185, 67, 96, 0.95);
    color: #fff;
    height: 95vh;
    width: 70%;
    z-index: 1100;
  }
nav ul.openNav li {
    margin: 12px 0;
    padding: 10px 6px;
    width: 100%;
    box-sizing: border-box;
}
nav ul.openNav li a {
    color: #fff;
    font-size: 20px;
    display: block;
    width: 100%;
}
.logo { 
    width: 160px; 
    margin-left: 8px; 
}
.trucknav {
    margin-left: 12px; 
    width: 110px; 
    height: auto; 
}
.log{
    margin-bottom: -100px;
}
a, button { 
    touch-action: manipulation; 
    -webkit-tap-highlight-color: rgba(0,0,0,0.04); 
}
.long { 
    position: relative;
    width: 100%;
    height: auto; 
}
.shipment { 
    position: absolute;
    font-size: 25px; 
    top: 16%; 
    left: 9%; 
    text-align: left;
}
.distro{
    width: 100%;
    height: 620px;
}
.press{
    margin-top: 90px;
    margin-left: -60px;
    width: 100%;
    height: auto;
}
.quality{
    font-size: 15px;
}
.invest{
    display: block;
    margin: 20px;
    
    margin-top: -20px;
    justify-content: space-evenly;
}
.buldozer, .crane, .raiser, .robot, .open-truck{
    width: 40%;
    height: auto;
    padding: 10px;
}
.prezzo{
    width: 100%;
    margin-left: -30px;
    height: 820px;
}
.grow-1, .grow-2, .grow-3, .grow-4{
    font-size: 15px;
    line-height: 1.6;
    text-align: left;
    margin-top: -10px;
}
.operate{
    font-size: 25px;
    margin-left: 20px;
}
.will22{
    height: auto;
    width: 100%;
}
.structure{
    width: 94%;
    margin: 20px;
    margin-bottom: 80px;
    height: 690px;
}
.diverse-1, .diverse-2, .diverse-3{
    font-size: 15px;
    text-align: left;
    line-height: 1.6;
    margin-top: -10px;
}
.all-ton{
    height: 320px;
    margin-left: 25px;
}
.ton{
    font-size: 15px;
    text-align: left;
    line-height: 1.4;
    margin-top: -10px;
}
.vices{
    margin-left: 20px;
    font-size: 25px;
}
.cargo{
    height: 600px;
}
.transit{
    width: 100%;
}
.cargo-img{
    width: 50%;
    height: auto;
    margin-left: 10px;
}
.trans{
    font-size: 20px;
}
.value-text1, .value-text2{
    margin-left: 10px;
    font-size: 15px;
    text-align: left;
    margin-top: -10px;
}
.limit{
    width: 100%;
    margin-left: 10px;
}
.transit-img{
    width: 50%;
    height: auto;
    margin-left: 10px;
}
.value-text2{
    margin-left: -10px;
    font-size: 15px;
}

footer { 
    bottom: 0;
    width: 100%;
    padding: 10px; 
    height: auto; 
}
.row6 { 
    display: block; 
    padding: 18px 6% 0; 
}
.col6 { 
    width: 100%; 
    margin-bottom: 10px; 
}
.logo{
    margin-left: -20px;
}
h5{
    font-size: 20px;
}
.col6 a{
    font-size: 15px;
}
}



